@{
    ViewData["Title"] = "Home Page";
}

<!-- Estilo en línea para fondo rojo claro -->
<style>
    body {
        background-color: #ffe6e6; /* Un tono de rojo claro */
    }
</style>

<div class="text-center">
    <h1 class="display-4"><em>Bienvenidos a mi Examen de programación :D</em></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Imagen -->
    <img src="~/images/messi.jpg" alt="Celebración de Messi" class="img-fluid mt-3" />

    <!-- Botón que muestra el mensaje -->
    <button onclick="mostrarMensaje()" class="btn btn-primary mt-3">Mostrar Mensaje</button>
</div>

<!-- JavaScript para mostrar el mensaje -->
<script>
    function mostrarMensaje() {
        alert("Hola soy Eric Mullo y mi Hobbie es jugar fútbol");
    }
</script>